body {  
    margin: 0;  
    font-family: "Georgia", serif;  
    background: #1e1e1e;  
    color: white;  
}  

.navbar {  
    background-color: black;  
    color: white;  
    padding: 15px 0;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}  

.navbar h1 {  
    font-family:"UnifrakturCook", cursive;  
    font-size: 50px;  
    margin-left: 30px;  
    letter-spacing: 1px;  
}  

.nav-links {  
    margin-right: 30px;  
}  

.nav-links a {  
    color: white;  
    text-decoration: none;  
    margin-left: 20px;  
    font-size: 16px;  
}  

.nav-links a:hover {  
    text-decoration: underline;  
}  


.container {  
    display: grid;  
    grid-template-columns: 35% 65%;  
    min-height: 100vh;  
}  

.left {  
    background: #7a0b0b;  
    padding: 40px;  
    font-size: 18px;  
    line-height: 1.6;  
}  

.right {  
    background: linear-gradient(to bottom, #4d001a, #250016);  
    padding: 40px;  
    text-align: center;  
}  

.section-title {  
    font-size: 28px;  
    margin-bottom: 25px;  
    font-weight: bold;  
}  

.player-card {  
    margin-bottom: 70px;  
      
}  

.player-img {  
    width: 70%;  
    display: block;  
    margin: auto;  
    border-radius: 6px;  
}  

.name {  
    margin-top: 10px;  
    font-size: 22px;  
    font-weight: bold;  
    color: #f5d76e;  
}  

.role {  
    font-size: 18px;  
    font-style: italic;  
    color: #f5d76e;  
}  

.row {  
    display: flex;  
    justify-content: center;  
    gap: 40px;  
    margin-top: 30px;  
}  

.small-img {  
    width: 200px;  
    border-radius: 6px;  
}  

@media(max-width: 900px) {  
    .container {  
        grid-template-columns: 1fr;  
    }  
}
